@import "tailwindcss";
@plugin "daisyui";

@import url('https://fonts.googleapis.com/css2?family=Savate:ital,wght@0,200..900;1,200..900&display=swap');

/* Use Savate font only for logo */
.logoFont {
    font-family: "Savate", sans-serif;
}

/* Global reset and box model fix */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}